.header
{
    margin: 1em 1em;
    background: floralwhite;
    border: 1px solid brown;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}
.header >h1{
    margin: 0px;

   height: 100%;

}